<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "FAQPage",
 "mainEntity": [
  {
   "@type": "Question",
   "name": "Kiedy i jak opłacam zajęcia?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "1. Kontakt: Po Twojej pierwszej wiadomości mailowej ustalamy termin pierwszych zajęć. 2. Dane do przelewu: Gdy termin jest uzgodniony, wysyłam Ci mailem dane do przelewu oraz najważniejsze informacje i zasady współpracy. 3. Pierwsza lekcja: Pierwsze zajęcia opłacasz z góry. Jeśli przelew nie dotrze do mnie na 24 godziny przed lekcją, poproszę Cię o przesłanie potwierdzenia płatności. 4. Plan miesiąca: Na pierwszych zajęciach lub tuż po nich ustalamy, ile lekcji planujemy w danym miesiącu. 5. Płatność miesięczna: Zaplanowane lekcje opłacasz z góry za cały miesiąc. Jeśli wolisz, możesz też opłacić więcej lekcji z wyprzedzeniem. 6. Wspólny arkusz: Dla każdego ucznia tworzę wspólny arkusz, w którym na bieżąco widzisz, ile lekcji zostało opłaconych, a ile już wykorzystanych."
   }
  },
  {
   "@type": "Question",
   "name": "Co się dzieje z niewykorzystanymi lekcjami?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Niewykorzystane lekcje przechodzą na kolejny miesiąc. Możesz je wykorzystać najpóźniej w ciągu dwóch kolejnych miesięcy."
   }
  },
  {
   "@type": "Question",
   "name": "Czy mogę odwołać lub przełożyć lekcję?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Oczywiście, do 24 godzin przed lekcją możesz ją bezpłatnie przełożyć lub odwołać. Po tym czasie lekcję uznajemy za zrealizowaną."
   }
  },
  {
   "@type": "Question",
   "name": "Czy pierwsze spotkanie jest płatne?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Tak, w każde spotkanie wkładam tyle samo pracy i zaangażowania, dlatego pierwsza lekcja jest płatna tak jak kolejne <3 Zwykle po rozmowie i analizie potrzeb zostaje nam jeszcze czas na część lekcji. Zasady dla firm są inne ."
   }
  },
  {
   "@type": "Question",
   "name": "Czy są pakiety lub zniżki?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Stawiam na jakość, nie na ilość, dlatego nie prowadzę pakietów ani promocji. Każda lekcja kosztuje tyle samo, bo każdą przygotowuję z taką samą starannością <3"
   }
  },
  {
   "@type": "Question",
   "name": "Czy wystawiasz faktury?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Tak. Firmom wystawiam faktury, a na prośbę także osobom prywatnym, na imię i nazwisko."
   }
  },
  {
   "@type": "Question",
   "name": "Czy podpisujemy umowę?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Nie musisz podpisywać papierowej umowy . Gdy zdecydujesz się na zajęcia i ustalimy pierwsze terminy, wysyłam Ci mailem wszystkie warunki współpracy: zasady płatności oraz odwoływania lekcji. Ich akceptacja w odpowiedzi mailowej jest potwierdzeniem naszej umowy."
   }
  },
  {
   "@type": "Question",
   "name": "Kogo uczysz?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Uczę dorosłych na każdym poziomie zaawansowania, od zupełnych podstaw (A0) po poziom zaawansowany (C1)."
   }
  },
  {
   "@type": "Question",
   "name": "Nie znam swojego poziomu. Czy to problem?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "To żaden problem! Poziom sprawdzimy podczas pierwszych zajęć, bez stresu."
   }
  },
  {
   "@type": "Question",
   "name": "Jak często powinny odbywać się zajęcia?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Z mojego doświadczenia zajęcia powinny odbywać się co najmniej raz w tygodniu, ale wtedy bez regularnej pracy w domu postępy mogą Cię nie zadowolić. Większość moich uczniów ma zajęcia dwa razy w tygodniu, a w czasie przygotowań do egzaminu nawet trzy razy."
   }
  },
  {
   "@type": "Question",
   "name": "Czy muszę kupować podręczniki?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Nie musisz :) Większość materiałów przygotowuję sama, a po zajęciach dostajesz kopię notatek. Jeśli wolisz ćwiczenia na papierze i wybierzemy wspólnie podręcznik wiodący, na przykład do uporządkowania gramatyki, zachęcam do jego zakupu!"
   }
  },
  {
   "@type": "Question",
   "name": "Czy są prace domowe?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Tak, i są bardzo ważne! :) Nawet krótkie zadanie między lekcjami pomaga utrzymać rytm nauki. Ćwiczenia do domu często projektuję specjalnie dla Ciebie i motywuję Cię do samodzielnej pracy."
   }
  },
  {
   "@type": "Question",
   "name": "Na jakiej platformie odbywają się zajęcia?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Na Google Meet. Potrzebujesz stabilnego internetu, laptopa lub komputera, mikrofonu i kamerki. Czy kamerka jest konieczna?"
   }
  },
  {
   "@type": "Question",
   "name": "Czy muszę mieć włączoną kamerkę?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Bardzo mi na tym zależy, szczególnie na pierwszych zajęciach, żebyśmy mogli się poznać :) Z większością uczniów pracujemy z włączonymi kamerkami. Jeśli jednak czujesz się swobodniej bez niej, nie ma problemu."
   }
  },
  {
   "@type": "Question",
   "name": "Gdzie najlepiej uczyć się online?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "W spokojnym, zacisznym miejscu, w którym możesz swobodnie mówić. Strój nie ma znaczenia, możesz uczyć się nawet w piżamie. Najważniejszy jest Twój komfort! P.S. Proponuję do lekcji przygotowanie ciepłej herbatki/dobrej kawki :)"
   }
  },
  {
   "@type": "Question",
   "name": "W jakie dni i godziny prowadzisz zajęcia?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Od poniedziałku do piątku, w godzinach 9:00 do 20:00, w ustalonych blokach zajęć. Jeśli mam wolny termin, mogę poprowadzić lekcję także w weekend. Wszystko jest do ustalenia."
   }
  },
  {
   "@type": "Question",
   "name": "Jak mogę się z Tobą kontaktować między lekcjami?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Wyłącznie mailowo. Pisz zawsze, gdy masz pytanie lub potrzebujesz pomocy, a ja odpowiadam najszybciej, jak to możliwe."
   }
  },
  {
   "@type": "Question",
   "name": "Jak dobrać partnera do zajęć w parze?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Najlepiej sprawdzi się osoba o podobnym poziomie i celach językowych, na przykład ktoś, kto razem z Tobą przygotowuje się do egzaminu STANAG 6001 na poziomie 1. Poziom sprawdzimy na pierwszej lekcji. Możecie też wcześniej wykonać test poziomujący online, żeby upewnić się, że Wasz poziom jest zbliżony."
   }
  },
  {
   "@type": "Question",
   "name": "Jak wygląda współpraca z firmą?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Szczegóły ustalam z firmą mailowo. Firma płaci za lekcje odbyte w danym miesiącu na początku kolejnego miesiąca. Prowadzimy wspólne pliki z obecnością, statystykami i wynikami pracowników, w których zamieszczam raporty i opisy lekcji. Taka współpraca wymaga ode mnie więcej pracy, dlatego cena zajęć dla firm różni się od ceny dla prywatnych uczniów Business English. Pierwsza lekcja z pracownikiem lub parą pracowników jest płatna."
   }
  },
  {
   "@type": "Question",
   "name": "Jak rozpocząć współpracę z firmą?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Wszystkie szczegóły współpracy ustalamy mailowo. Dzięki temu obie strony mają ustalenia zapisane w jednym miejscu i w każdej chwili mogą do nich wrócić. Napisz do mnie, a przedstawię zasady i odpowiem na Twoje pytania."
   }
  },
  {
   "@type": "Question",
   "name": "Ilu pracowników możesz uczyć?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "To zależy od mojego grafiku w danym okresie. Firmom proponuję zajęcia indywidualne oraz w parach, ponieważ ta forma przynosi najlepsze efekty."
   }
  },
  {
   "@type": "Question",
   "name": "Czy zajęcia mogą odbywać się w godzinach pracy?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Tak, jeśli firma tak woli. Zajęcia mogą odbywać się zarówno w godzinach pracy, jak i po nich, w zależności od ustaleń z firmą i mojej dostępności."
   }
  },
  {
   "@type": "Question",
   "name": "Jak wyglądają raporty o postępach?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Częstotliwość raportów i ich zakres ustalamy indywidualnie przed rozpoczęciem zajęć. Obecność pracowników zaznaczam na bieżąco we wspólnym pliku, do którego manager ma stały dostęp."
   }
  },
  {
   "@type": "Question",
   "name": "Co jeśli pracownik nie może przyjść na zajęcia?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Obowiązują te same zasady co przy zajęciach prywatnych: lekcję można bezpłatnie przełożyć lub odwołać do 24 godzin przed jej rozpoczęciem. Później lekcję uznajemy za zrealizowaną. Każdą obecność i nieobecność zaznaczam w pliku widocznym dla managera."
   }
  },
  {
   "@type": "Question",
   "name": "Czy można zmienić pracownika w trakcie współpracy?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Tak. Z nową osobą przeprowadzam wtedy indywidualną sesję poświęconą analizie potrzeb, także jeśli dołącza do pary. Sesja nie musi trwać przez całą lekcję, a pozwala dopasować zajęcia do poziomu i celów nowego uczestnika."
   }
  },
  {
   "@type": "Question",
   "name": "Jak dbasz o poufność firmowych materiałów?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Materiały otrzymane od firmy wykorzystuję wyłącznie do analizy potrzeb oraz na zajęciach z pracownikami tej firmy. Nie udostępniam ich nikomu. Na prośbę firmy podpisuję umowę o zachowaniu poufności (NDA)."
   }
  },
  {
   "@type": "Question",
   "name": "Czy pracownik otrzymuje zaświadczenie?",
   "acceptedAnswer": {
    "@type": "Answer",
    "text": "Tak, na prośbę wystawiam zaświadczenie o udziale w kursie."
   }
  }
 ]
}
</script>
